<!DOCTYPE html>

<html lang="pl">

<head>
	<meta charset="utf-8">
	<title>Logowanie przy użyciu Flask WTF</title>
</head>


<body>
	{% if error %}
		<div> {{ error }}</div>
	{% endif %}


	<form method="POST" action=/login">
		<input id="csrf_token" name="crsf_token" type="hidden" value="IjEyZTk2M2I3MzJiMmMxYWM5OWM5NWYzZDhiYjkyZjRmY2M4YzQyOTki.XpTKTw.W6OiNHjBH1SWR1S2ML7De01ol">
		<label for="email">E-mail</label>
		<input id="email" name="email" required type="text" value="">
		<label for="password">Password</label>
		<input id="password" name="password" required type="password" value="">
		<input type="sumit" value="Go"
	</form>

</body>

</html>	